extends ../jade/layouts/html5-boilerplate.jade

block title
  | Blog chia sẻ kiến thức

block meta
  +MetaBasic
  +DataMeta(
    {
      "description" : "Mình tên là Hoàng Bảo Vũ, hiện đang sống tại Huế, Việt Nam. Mình thích phát triển web và luôn áp dụng các kỹ thuật mới nhất với HTML, CSS.",
    },{
      "title" : "Blog chia sẻ kiến thức",
      "description" : "Mình tên là Hoàng Bảo Vũ, hiện đang sống tại Huế, Việt Nam. Mình thích phát triển web và luôn áp dụng các kỹ thuật mới nhất với HTML, CSS.",
      "url" : "//ineo.vn",
      "image" : "//ineo.vn/anh"
    })
  
block styles

block body
  header
    +top-nav('blog')

  main(role="main")
    .container-fluid
        .card-columns
          .card
            img.card-img-top(src="https://unsplash.it/500x900/?random", alt="Card image cap")
            .card-block
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src="https://unsplash.it/400/?random", alt="Card image cap")
            .card-block
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src="https://unsplash.it/500x600/?random", alt="Card image cap")
            .card-block
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src="https://unsplash.it/500x300", alt="Card image cap")
            .card-block
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src="https://unsplash.it/400/?random", alt="Card image cap")
            .card-block
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago

block footer
block script